@font-face {
  font-family: 'franklinGothicMedium';
  src: url('./FranklinGothic-Medium.woff2') format('woff2'),
    url('./FranklinGothic-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}